version: '3.4'

services:
  portainer:
    image: portainer/portainer-ce
  basketdb:
    image: redis
  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket/Basket.Api/Dockerfile
  cataloguedb:
    image: mongo
  catalogue.api:
    image: ${DOCKER_REGISTRY-}catalogueapi
    build:
      context: .
      dockerfile: Services/Catalogue/Catalogue.Api/Dockerfile
  discountdb:
    image: postgres
  pgadmin:
    image: dpage/pgadmin4

  discount.api:
    image: ${DOCKER_REGISTRY-}discountapi
    build:
      context: .
      dockerfile: Services/Discount/Discount.Api/Dockerfile

volumes:
  portainer_data:
  mongo_store:
  postgres_data:
  pdadmin_data:




