version: '3.4'


services:
  cataloguedb:
     container_name: cataloguedb
     restart: always
     ports:
       - "27017:27017"
     volumes: 
       - mongo_store:/data/db
  catalogue.api:
    container_name: catalogue.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "Secrets:MongoCS=mongodb://cataloguedb:27017"
      - "Secrets:Database=Microservices"
      - "Secrets:Collection=Catalouge"
    ports:
      - "8000:80"
    depends_on:
      - cataloguedb
  basketdb:
    container_name: basketdb
    restart: always
    ports:
      - "6379:6379" 
  
  basket.api:
    container_name: basket.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "Secrets:RedisCS=basketdb:6379"
      - "Secrets:GRPC_Address=http://discount.grpc"
    ports:
      - "8001:80"
    depends_on:
      - basketdb
  
  portainer:
    container_name: portainer
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
      - portainer_data:/data portainer/portainer-ce:2.11.1
    ports:
      - "8080:8000"
      - "9000:9443"
    depends_on:
      - cataloguedb
      - basketdb
      - discountdb
  pgadmin:
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=admin1234
    volumes:
      - postgres_data:/root/.pgadmin
    restart: always
    ports:
      - "5050:80" 
  discountdb:
    container_name: discountdb
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin1234
      - POSTGRES_DB=DiscountedProducts
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: always
    ports:
      - "5432:5432" 
  
  
  discount.api:
    container_name: discount.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "Secrets:ConnectionString=Server=discountdb;port=5432;Database=DiscountedProducts;User Id=admin;Password=admin1234"
    ports:
      - "8002:80"
    depends_on:
      - discountdb

      
      
  discount.grpc:
    container_name: discount.grpc
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "Secrets:ConnectionString=Server=discountdb;port=5432;Database=DiscountedProducts;User Id=admin;Password=admin1234"
    ports:
      - "8003:80"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro


  